/*Header css*/
.portal-header {
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border-bottom: solid 1px rgb(187, 187, 187) BBB;
}

.portal-header button:focus {
  outline: none;
}

.portal-header__nav-toggle {
  margin: 0 12px;
  padding: 6px;
}

.portal-header__nav-toggle .menu-icon {
  height: 24px;
  fill: rgb(119, 119, 119);
}

.portal-header__company-name {
  color: rgb(32, 63, 105);
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-stretch: condensed;
  font-weight: bold;
  margin: 0 12px;
  cursor: pointer;
}

.portal-header__drug-selection-toggle {
  display: flex;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.portal-header__drug-selection-toggle .drop-up-down-icon {
  fill: rgb(85, 85, 85);
}

.portal-header__drug-logo {
  height: 25px;
  width: auto;
}

.portal-header__drug-name {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(68, 68, 68);
  margin: 0 5px 0 10px;
}

.portal-header__right {
  margin-left: auto;
}

.portal-header__greeting {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(0, 0, 0);
  text-align: right;
  margin-bottom: 6px;
}

.portal-header__territory {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(136, 136, 136) 888;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.portal-header__territory .edit-icon {
  height: 16px;
  width: 16px;
  margin-left: 8px;
  fill: rgb(136, 136, 136);
}

/* Header css ENDS */
/* Nav Menu start*/

.nav-menu {
  display: inline-block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.19);
  padding: 12px 0;
  min-width: 220px;
  width: auto;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(108, 108, 108);
  background-color: rgb(255, 255, 255);
  border: none;
  display: none;
}

.nav-menu-show {
  z-index: 99;
  position: absolute;
  top: 43px;
  left: 44px;
  display: block;
}

.nav-menu__item {
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-menu__item.selected {
  font-weight: 500;
  color: rgb(85, 85, 85);
}

.nav-menu__item:hover {
  background-color: rgb(239, 239, 239);
}

.nav-menu__divider {
  margin: 12px 20px;
  background-color: rgb(187, 187, 187);
  height: 1px;
}

.nav-menu .open-in-new-icon {
  height: 20px;
  width: 20px;
  fill: rgb(119, 119, 119);
  margin-left: 8px;
}

/* Nav menu Ends*/

/* Drag Menu Start */

.drug-menu {
  display: inline-block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.19);
  padding: 12px 0;
  min-width: 220px;
  width: auto;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(119, 119, 119);
  background-color: rgb(255, 255, 255);
  border: none;
  display: none;
}

.drug-menu-show {
  z-index: 99;
  position: absolute;
  top: 53px;
  left: 236px;
  display: block;
}

.drug-menu__item {
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.drug-menu__item-logo {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.drug-menu__divider {
  margin: 12px 20px;
  background-color: rgb(187, 187, 187);
  height: 1px;
}

.drug-menu__item.selected {
  font-weight: 500;
  color: rgb(85, 85, 85);
}

.drug-menu__item:hover {
  background-color: rgb(239, 239, 239);
}

.drug-menu-lower_ele {
  font-family: serif;
  color: rgb(221, 50, 201);
  font-size: 24px;
  margin-right: 10px;
}

/* Drag Menu Ends */
